@{
    ViewBag.Title = "Contact";
}
<style>
    body {
        background-image: url("http://www.workinentertainment.com/blog/wp-content/uploads/2014/12/job-seacrhing.jpg");
        background-size: cover;
    }
</style>
<body>
<h2 style="font-family: fantasy;font-size: 50px">@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Ahmed<br/>ahmedfahed9559@gmail.com<br />
   
</address>

</body>