
@{
    ViewBag.Title = "Home";
}
<style>
  
</style>

<body id="myfotos"  style="background-image: url(http://www.workinentertainment.com/blog/wp-content/uploads/2014/12/job-seacrhing.jpg); background-size: cover">

<div style="position: absolute; top:50px">
    <h2 style="font-family: fantasy; font-size: 80px;">Job search</h2>
</div>
    <script src="../../Scripts/slideShow.js"></script>
</body>