
@{
    ViewBag.Title = "Welcom";
}
<style>
    body {
        background-image: url("http://www.workinentertainment.com/blog/wp-content/uploads/2014/12/job-seacrhing.jpg");
        background-size: cover;
    }
</style>
<body>
    <h2 style="font-family: fantasy;font-size: 50px">Welcom</h2>
    Welcom To Our WebSite &nbsp;<br />
    Your Name is:@ViewBag.FirstName
    <br />

    Your Password is:@ViewBag.NewPassWord
    <br />
    YourEmail is:@ViewBag.Email
    <br />Now You Can SignIn to your Account......
</body>