
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br/><br/>
<p style="color: orange">Dart ist ein Geschicklichkeitsspiel bzw. ein Präzisionssport,<br/> bei dem mit Pfeilen (den Darts) auf eine runde Scheibe (die Dartscheibe) geworfen wird.
</p>
<img src="../../fotos/10937615-Darts-Board-Stock-Photo-darts-dart-dartboard.jpg" style="margin-left: 10%; width: 80%; height: 500px; margin-top: 5%"/>

