
@{
    ViewBag.Title = "AddPlayer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br/><br/><br/>
<img src="../../fotos/10937615-Darts-Board-Stock-Photo-darts-dart-dartboard.jpg" style="margin-left: 15%; width: 70%; height: 200px;">
<form method="POST" action="AddPlayerToDatenBank" style="margin-left: 25%">
    <p style="color:orange; font-size: 24px">
        FirstName
        <input type="text" name="playerFirstName" width="60" />
        &nbsp;&nbsp;
        SecondName
        <input type="text" name="playerSecondName" width="60"/>
        <button type="submit" style="width:200px; text-align: center; color:aliceblue;background-color:orange">Add</button>  
    </p>
</form>




