
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<img src="../../fotos/10937615-Darts-Board-Stock-Photo-darts-dart-dartboard.jpg" style="margin-left: 10%; width: 80%; height: 500px; margin-top: 5%">
<footer>
    <b>
        <small><a href="http://www.soft-park.de/" style="color: orange">Soft-Park GMBH</a></small>
    </b>
</footer>



